<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body ng-app="Customers">
  <h1>Factory</h1>
  <dl ng-controller="ListCtrl">
    <dt>Raw</dt>
    <dd>
      <ul>
        <li ng-repeat="cust in Customers.raw">{{cust.name}}</li>
      </ul>
    </dd>
    <dt>Sorted</dt>
    <dd>
      <ul>
        <li ng-repeat="cust in Customers.sorted">{{cust.name}}</li>
      </ul>
    </dd>
  </dl>

  <h1>MixIn</h1>
  <dl ng-controller="ListMixinCtrl">
    <dt>Raw</dt>
    <dd>
      <ul>
        <li ng-repeat="cust in Customers.raw">{{cust.name}}</li>
      </ul>
    </dd>
    <dt>Sorted</dt>
    <dd>
      <ul>
        <li ng-repeat="cust in Customers.sorted">{{cust.name}}</li>
      </ul>
    </dd>
  </dl>

  <h1>Inheritance</h1>
  <dl ng-controller="ListInheritanceCtrl">
    <dt>Raw</dt>
    <dd>
      <ul>
        <li ng-repeat="cust in Customers.raw">{{cust.name}}</li>
      </ul>
    </dd>
    <dt>Sorted</dt>
    <dd>
      <ul>
        <li ng-repeat="cust in Customers.sorted">{{cust.name}}</li>
      </ul>
    </dd>
  </dl>

  <script src="bower_components/angular/angular.js"></script>
  <script src="scripts/app.js"></script>
</body>
</html>
